.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.856);
}
.team img{
     height: 300px;
     width: 300px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 10px 10px;
     margin-left: 10px;
    border-radius: 50%;
}
.team h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    color: gray;
    padding: 5px 5px;
    margin-top: 2px;

}
.projects{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 20px;
}